.git
.gitignore
.venv
venv
ENV
env
*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache
.coverage
htmlcov
.env
.vscode
.idea
db.sqlite3
media/*
!media/.gitkeep
staticfiles/*
!staticfiles/.gitkeep
logs/*.log
!logs/.gitkeep
Dockerfile
docker-compose.yml
.dockerignore
