# Configuration Django
SECRET_KEY=django-insecure-votre-cle-secrete-ici
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,*

# Configuration Base de données (par défaut sqlite3, sinon postgresql)
DATABASE_ENGINE=django.db.backends.sqlite3
DATABASE_NAME=db.sqlite3
# Si PostgreSQL :
# DATABASE_ENGINE=django.db.backends.postgresql
# DATABASE_NAME=iai_gestion
# DATABASE_USER=postgres
# DATABASE_PASSWORD=postgres
# DATABASE_HOST=db
# DATABASE_PORT=5432
